@media screen and (max-width: 940px)
{
    .grid__row
    {
        padding: inherit;
    }

    .grid__cell_name_aircompany
    {
        display: none;
    }

    .grid__cell
    {
        width: 12.5%;
    }
}

@media screen and (max-width: 785px)
{
    .grid__row
    {
        padding: inherit;
    }

    .grid__cell_name_note
    {
        display: none;
    }

    .grid__cell
    {
        width: 14.2%;
    }
}

@media screen and (max-width: 690px)
{
    .grid__cell_name_arrive .grid__cell-inner
    {
        overflow: hidden;

        max-width: 100px;

        white-space: nowrap;
        text-overflow: ellipsis;

        -o-text-overflow: ellipsis;
    }

    .grid__cell_name_status
    {
        display: none;
    }

    .grid__cell
    {
        width: 16.6%;
    }
}

@media screen and (max-width: 600px)
{
    .grid__cell_name_arriveTime .grid__cell-inner_head_yes,
    .grid__cell_name_departureTime .grid__cell-inner_head_yes
    {
        display: none;
    }

    .grid__cell_name_arriveTime .logo_type_air,
    .grid__cell_name_departureTime  .logo_type_air
    {
        display: block;
    }
}

@media screen and (max-width: 360px)
{
    .grid__cell_name_type
    {
        display: none;
    }

    .grid__cell
    {
        width: 20%;
    }
}

@media screen and (max-width: 330px)
{
    .grid__cell_name_arrive
    {
        display: none;
    }

    .grid__cell
    {
        width: 25%;
    }
}

@media screen and (max-width: 300px)
{

    .grid__cell_name_airLogo
    {
        display: none;
    }

    .grid__cell
    {
        width: 33.3%;
    }
}