.grid__cell
{
    position: relative;

    display: inline-block;

    width: 11.1%;

    vertical-align: middle;
    word-wrap: break-word;
}

.grid__body .grid__cell:nth-child(odd):after
{
    position: absolute;
    z-index: -1;
    top: -5000px;
    left: 0;

    width: 100%;
    height: 10000px;

    content: "";

    background: rgba(0, 120, 0, .02);
}

.grid__body .grid__cell:hover:after
{
    position: absolute;
    z-index: -1;
    top: -5000px;
    left: 0;

    width: 100%;
    height: 10000px;

    content: "";

    background-color: rgba(0, 0, 255, 0.2);
}
