.grid__cell_pos_1
{
    left: 0;
}

.grid__cell_pos_2
{
    left: 20%;
}

.grid__cell_pos_3
{
    left: 40%;
}

.grid__cell_pos_4
{
    left: 60%;
}

.grid__cell_pos_5
{
    left: 80%;
}

.grid__cell_pos_6
{
    left: 100%;
}

.grid__cell_pos_7
{
    left: 120%;
}

.grid__cell_pos_8
{
    left: 140%;
}

.grid__cell_pos_9
{
    left: 160%;
}